* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ec715f;
  width: auto;
  height: 70px;
}
.header-item {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-item-logo {
  width: 180px;
  height: 70px;
}
.nav-list {
  line-height: 70px;
}
.nav-list-item {
  display: inline-block;
  color: #fafafa;
  font-size: 16px;
  margin-right: 30px;
  margin-left: 30px;
}

.main-visual {
  background-image: url(chapter1_img/mv.png);
  background-size: cover;
  background-position: center;
  height: 650px;
}
.main-visual-text {
  color: #fafafa;
  padding-top: 200px;
  text-align: center;
}
.mv-title {
  font-size: 64px;
}
.mv-text {
  margin-top: 10px;
  font-size: 20px;
}

.portfolio {
  background-color: #eceff1;
}
.portfolio-container {
  width: 920px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}
.heading {
  font-size: 32px;
  color: #000000;
  display: inline-block;
  padding-bottom: 8px;
  position: relative;
}
.heading::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  display: inline-block;
  width: 70px;
  height: 3px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #ec715f;
}
.heading-text {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
}
.production {
  display: flex;
  flex-wrap: wrap;
}
.production-img {
  width: 300px;
  padding-top: 250px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.production-img:nth-child(1) {
  background-image: url(chapter1_img/sketch.jpg);
}
.production-img:nth-child(2) {
  background-image: url(chapter1_img/websuku.png);
  margin: 0 10px;
  margin-bottom: 10px;
}
.production-img:nth-child(3) {
  background-image: url(chapter1_img/write.jpg);
}
.production-img:nth-child(4) {
  background-image: url(chapter1_img/webcamp.png);
}
.production-img:nth-child(5) {
  background-image: url(chapter1_img/talk.jpg);
  margin: 0 10px;
  margin-bottom: 10px;
}
.production-img:nth-child(6) {
  background-image: url(chapter1_img/webcamp-mother.png);
}

.feature-container {
  width: 980px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}
.strength-group {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
.strength {
  width: 320px;
  height: auto;
}
.strength:nth-child(2) {
  margin: 0 10px;
}
.fas {
  font-size: 60px;
}
.strength-title {
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
}
.strength-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.profile {
  background-color: #eceff1;
}
.profile-container {
  width: 1024px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}
.profile-group {
  display: flex;
  flex-wrap: wrap;
}
.profile-left {
  width: 512px;
}
.profile-img {
  margin: auto;
  background-image: url(chapter1_img/my-icon.jpg);
  background-size: contain;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-position: center;
}
.profile-right {
  width: 512px;
  text-align: left;
}
.profile-strength {
  font-size: 20px;
}
.profile-strength:nth-child(2) {
  padding-top: 20px;
}
.profile-text {
  font-size: 16px;
  padding: 5px 0;
}

.contact {
  background-color: #fafafa;
}
.contact-container {
  width: 800px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}
.contact-group {
  display: flex;
  flex-wrap: wrap;
}
.contact-left {
  width: 400px;
}
.contact-mail {
  padding-bottom: 20px;
}
.contact-title {
  font-size: 20px;
  padding-bottom: 5px;
}
.contact-right {
  width: 400px;
}
.fab {
  font-size: 50px;
  padding-right: 5px;
}

footer {
  background-color: #ec715f;
  width: 100%;
  height: 60px;
}
.footer-text {
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-item {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .nav-list {
    display: none;
  }
  .menu-btn {
    right: 10px;
    display: flex;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #ec715f;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }

  .main-visual {
    background-image: url(chapter1_img/code.png);
    margin: 0 auto;
  }
  .mv-title {
    font-size: 40px;
  }
  .mv-text {
    font-size: 18px;
  }
  .portfolio-container {
    width: 90%;
  }
  .production {
    display: flex;
    flex-wrap: wrap;
  }
  .production-img { 
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .production-img:nth-child(2) {
    margin-left: 18.75px;
  }
  .production-img:nth-child(5) {
    margin-left: 18.75px;
  }
}
